<div class="list-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.bg_url %>);">
  <div class="container">
    <h1 class="mb-3"><%= @list.name %></h1>
    <%= link_to "Lists<<", lists_path, class: "btn btn-outline-warning mr-2" %>
    <%= link_to "➕ Movie",  new_list_bookmark_path(@list), class: "btn btn-info" %>
  </div>
</div>
<div class="container mt-5 mb-5" data-controller="movie">
  <div class="row">
    <div class="col-8">
      <div class="movie-cards">
        <% @movies.each do |themovie| %>
          <div>
            <div class="movie-card" data-action="click->movie#show" data-comment="<%= themovie.bookmark.comment %>" data-rating="<%= themovie.bookmark.rating %>" >
              <div class="movie-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= themovie.poster_url %>)">
                  <%= link_to bookmark_path(themovie.bookmark), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fas fa-times"></i>
                  <% end %>
              </div>
              <div class="movie-card-infos">
                <div>
                  <h2><%= themovie.bookmark.id %></h2>
                  <p><%= themovie.overview %></p>
                </div>
                <div class="movie-rating avatar-bordered"><%= themovie.rating %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="card-reviews-container">
        <div id="rating-bar" class="br-wrapper br-theme-css-stars">
          <select class="bar-rating">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <h4 data-movie-target="card"></h4>
      </div>
    </div>
  </div>
</div>


