<div class="container" style="margin-top: 130px;">
  <%= link_to list_path(@list) do %>
    <h4 style="color:darkgrey">⇤ <%= @list.name.capitalize %></h4>
  <% end %>
</div>
<div class="container" style="margin-top: 70px">

  <div class="row justify-content-center">
    <div class="col-10">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment, placeholder: 'Enter a comment about the movie', as: :text, :input_html => { class: 'test', :cols => 5, :rows => 8 } %>
        <%= f.association :movie, prompt: 'Select a movie', input_html: { class: 'select2' } %>        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
