<div class="container" style="margin-top: 130px;">
  <%= link_to lists_path(@list) do %>
    <h4 style="color:darkgrey">⇤ <%= @list.name %></h4>
  <% end %>
</div>
<div class="container" style="margin-top: 70px">

  <div class="row justify-content-center">
    <div class="col-10">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment, placeholder: 'Recommended by Jenny, has to be good.' %>
        <%= f.association :movie %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
