<div class="container mt-4">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="cards">
        <% @lists.reverse.each do |list| %>
          <%= link_to list_path(list) do %>
            <div>
              <% bg = list.poster.attached? ? cl_image_path(list.poster.key, height: 350, crop: :fill) : list.bg_url %>
              <div class="display-card" style="background-image: url('<%= bg %>')">
                <div class="display-card-info">
                  <h1><strong><%= list.name.capitalize %></strong></h1>
                  <% plural = list.movies.count > 0 ? 'movies' : 'movie' %>
                    <h5><%= list.movies.count %><%= plural %></h5>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
