<div class="container mt-5 mb-5">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div>
          <div class="display-card" style="background-image: url(<%= list.bg_url %>)">
            <div class="display-card-info">
              <h1><strong><%= list.name %></strong></h1>
              <% plural = list.movies.count > 0 ? 'movies' : 'movie' %>
                <h5><%= list.movies.count %><%= plural %></h5>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
