<div class="container mt-5 mb-5" data-controller="movie">
  <div class="row">
    <div class="col-sm-7 col-8">
      <div class="movie-cards">
        <% @movies.reverse.each do |themovie| %>

          <div>
            <div class="movie-card" data-action="click->movie#show" data-title="<%= themovie.title %>" data-rating="<%= themovie.rating %>" data-markrating="<%= themovie.mark ? themovie.mark.id ? themovie.mark.rating : 0 : 0 %>" data-overview="<%= themovie.overview %>" data-movieid="<%= themovie.id %>" data-moviemarkid="<%= themovie.mark ? themovie.mark.id : -1 %>">
              <div class="movie-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= themovie.poster_url %>)">
                  <%= link_to bookmark_path(themovie.bookmark), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fas fa-times"></i>
                  <% end %>
              </div>
              <div class="movie-card-infos">
                <div>
                  <h2><%= themovie.title %></h2>
                  <p><%= themovie.overview %></p>
                </div>
                <div class="movie-rating avatar-bordered"><%= themovie.rating %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-5 col-4">
      <div class="card-review-container">

        <div style="display: none" data-movie-target="markbox" id="markpostform" data-listid="<%= @list.id %>">
          <i class="fas fa-heartbeat d-flex flex-row-reverse" id="heart-mark" data-movie-target="heartmark"></i>
          <p id="toggle-heart" data-movie-target="toggleheart"></p>
        </div>

        <h5 data-movie-target="toggle" style="opacity: .9">Choose a movie</h5>
        <div id="rating-bar" class="br-wrapper br-theme-css-stars">
          <div id="review-container">
            <hr>
            <h3 data-movie-target="title" id="movie-title"></h3>
            <div style="display:flex;">
              <i class="fas fa-star star-yellow" style="display: none" data-movie-target="star"></i>
              <p data-movie-target="rating"></p>
            </div>
            <small><em data-movie-target="overview"></em></small>
          </div>
      </div>
    </div>
  </div>
</div>
