<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="movie-cards">
      <% @movies.each do |movie| %>
        <div class="movie-card">
          <div class="movie-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)">
              <%= link_to bookmark_path(movie.bookmark), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fas fa-times"></i>
              <% end %>
          </div>
          <div class="movie-card-infos">
            <div>
              <h2><%= movie.title %></h2>
              <p><%= movie.overview %></p>
            </div>
            <div class="movie-rating avatar-bordered"><%= movie.rating %></div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
